* {
  font-family: 'RichEatinAllCaps';
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0px;
}

.log-in-page {
  height:100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6ae2d;
}

.log-in-rock > img {
  width:80%;
  height: 50%;
  filter: drop-shadow(20px 10px 4px black)
}

.log-in-rock {
  width:30%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content:center;
  background-color: #758e4f;
  border-right:solid;
  border-color: white;
}

.log-in-paper {
  height: 90%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/paper-log-in.png");
  background-size:cover;
  background-repeat: no-repeat;
  color: black;
  border-top:solid;
  border-bottom: solid;
  border-color: white;
}

.log-in-paper > h1 {
  margin: 0em;
  font-size: 3em;
}

.log-in-paper > input {
  margin: 3em 0em 0em 0em;
  height: 8%;
  width: 20em;
  text-align: center;
  font-size: 1.5em;
  border: none;
  border-bottom: solid;
  border-color: white;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.log-in-paper > h2 {
  margin: 1em 0em 0em 0em;
  font-size: 3em;
}

.log-in-paper > div {
  margin: 1em 0em 0em 0em;
  font-size: 2em;
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  /* opacity: 0.9; */
}

#icon-row > button {
  width: 2em;
  font-size: 1em;
  cursor:pointer;
  opacity: 0.9;
  border: none;
  border-radius: 100%;
  background-color: black;
}

.log-in-scissors {
  width:30%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  background-color: #f26419;
  border-left:solid;
  border-color: white;
}

.log-in-scissors > img {
  width: 80%;
  height: 60%;
  filter: drop-shadow(20px 10px 4px black)
}

aside {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items:center;
  font-size: 3rem;
}

aside > p {
  margin: 1em 0em 0em 0em;
}

aside > button {
  width: 50%;
  height: 5%;
  margin: 2em 0em 0em 0em;
  background-color: #86bbd8;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  filter: drop-shadow(5px 5px 4px black);
}

aside > button:hover {
  width: 52%;
  height: 6%;
}

.player {
  background-color: #f6ae2d;
  border-right: solid;
  border-color: white;
}

.opponent {
  background-color: #f26419;
  border-left: solid;
  border-color: white;
}

main {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #33658a;
}

header {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #758e4f;
  font-size: 1.5rem;
  border-bottom: solid;
  border-color: white;
}

header > h3 {
  margin: 0px;
}

.game-section {
  height:80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.game-section > button {
  height: 40%;
  width: 35%;
  cursor:pointer;
  font-size: 1.25em;
}

.game-section > #classic-game {
  background-image: url('./assets/entrance.jpg');
  background-size: cover;
}

.game-section > #hero-game {
  background-image: url('./assets/hero-select.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.select-fighter {
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('./assets/locker-room.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.select-fighter > img {
  width: 30%;
  height: 40%;
  cursor: pointer;
  filter: drop-shadow(20px 10px 4px black) brightness(60%);
}

.select-fighter >img:hover {
  width: 35%;
  height: 45%;
}

.select-hero {
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('./assets/hero-select.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.select-hero > img {
  width: 15%;
  height: 20%;
  cursor: pointer;
  filter: drop-shadow(20px 10px 4px black);
}

.select-hero >img:hover {
  width: 20%;
  height: 25%;
}


.fighter-arena {
  display:flex;
  height: 100%;
  width: 100%;
  align-items:center;
  justify-content: space-evenly;
  background-image: url('./assets/arena.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.fighter-arena > div {
  width: 30%;
  height: 45%;
}

.contestant > img {
  width:100%;
  height:100%;
  filter: drop-shadow(20px 10px 4px black);
}



.hidden {
  display: none;
}
